@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-100: 250 7% 84%;
    --background-200: 0 0% 100%;
    --background-300: 206 17% 92%;
  }

  .dark {
    --background-100: 0 0% 3%;
    --background-200: 0 0% 10%;
    --background-300: 0 0% 20%;
  }
}

@layer base {
  body {
    @apply font-sans antialiased
  }
}

@layer components {
  .section {
    border-color: theme('colors.border.100');
    border-radius: theme('borderRadius.3xl');
    padding: theme('padding.4');
    background-color: theme('colors.background.200');
    height: calc(theme('height.dvh') - theme('padding.16'))
  }
}
